.fio {
    font-size: 3em;
    font-weight: bold;
    color:green;
    font-style:italic;
}
.birthday {
    font-size: 2em;
}
.birthday span{
    font-family: sans-serif;
    color:blue;
}
.birthday .date {
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
}
.date {
    color: green;
    font-style:italic;
    vertical-align: 0.5em;
}
.champion {
    background-color: yellow;
}
.info {
    background-color: blue;
    color: yellow;
}
.text {
    color: blue;
}
a {
    color: #8FF;
}