body {
	margin: 0;
	padding:0;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}


#Wrapp {
 top:0;
 left:0;
 position:fixed;
 background-color:#f3f3f3;
 opacity: 0.85;
 width:100%;
 height:100%;
 z-index:1;
}

#exit{
  position:relative;
  background-color:#fff;
   margin:20% auto auto auto;
}
.close {
	 color:red;
  cursor:pointer;
   font-weight:bold;
  position:absolute;
  right:20px;
  top:15px;
   text-shadow:#000 1px 1px 0;
   text-decoration: none;
}

#form_all {
	width: 350px;
	height: 300px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	background-color: #fff;
	padding: 20px;
	z-index: 2;

	box-shadow: 0 5px 35px rgba(128,128,128,0.3);
	-webkit-box-shadow: 0 5px 35px rgba(128,128,128,0.3);
	-moz-box-shadow:0 5px 35px rgba(128,128,128,0.3);
}

label{
	font-weight: bolder;
}

#post_1, #post_2, #post_3 {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 5px 15px;
	position: relative;
	min-height: 1px;
}

.zakas {
	border-radius: 0;
	color: #fff;
	display: block;
	left: 20%;
	padding: 10px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 230px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	bottom: 40px;
	background-color: #f97220 !important;

}

/*input["submit"] {*/
/*	-webkit-appearance: button;*/
/*	cursor: pointer;*/
/*}*/

input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-top: 5px;
}

#select {
font-size: 1em;
margin-top: 5px;
width: 300px;
}

