/**:not(html) {
	border:solid green 1px;
}*/

body {
    position: relative;
    width: 1000px;
    height: 1394px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/*---------------Логотип----------------------*/

.logo {
    display: inline-block;
    background: url('./img/logo.png') no-repeat;
    margin-left: 40px;
    margin-top: 40px;
    padding: 0;
    width: 940px;
    height: 48px;
}

.logo img {
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    padding-left: 42px;
}


/*------------Форма поиска и регистрации---------------------*/

form {
    display: inline-block;
    position: relative;
    top: -49px;
    left: 596px;
}

input [type=search] {
    width: 440px;
}

button {
    width: 80px;
    height: 48px;
}

.map {
    height: 80px;
    width: 100%;
}


/*-------------Картинки под логотипом-----------------*/

.map,
.map1,
.map2,
.map3,
.map4,
.map5,
.map6,
.map7,
.map8,
.map9,
.map10,
.map11,
.map12,
.map13,
.map14,
.map15,
.map16,
.map17 {
    height: 30px;
    margin-top: 0;
}

.map,
.undo {
    width: 940px;
}

.map {
    margin: 0 40px;
}

.undo {
    margin: 0 -5px;
}

.map div {
    display: inline-block;
    margin: 0;
}

.map2,
.map4,
.map6,
.map8,
.map10,
.map12,
.map14,
.map16 {
    width: 26px;
    background: url('./img/bbc.png') no-repeat;
}

.map1 {
    width: 40px;
    background: url('./img/line.png') repeat-x;
    background-position: center;
    margin-left: 10px;
}

.map2 {
    background-position: -12px 0;
}

.map3,
.map5,
.map7,
.map9,
.map11,
.map13,
.map15 {
    width: 78px;
    background: url('./img/line.png') repeat-x;
    background-position: center;
    margin-right: 2px;
}

.map4 {
    background-position: -47px 0;
}

.map6 {
    background-position: -77px 0;
}

.map8 {
    background-position: -110px 0;
}

.map10 {
    background-position: -140px 0;
}

.map12 {
    background-position: -177px 0;
}

.map14 {
    background-position: -215px 0;
}

.map16 {
    background-position: -245px 0;
}

.map17 {
    width: 44px;
    background: url('./img/line.png') repeat-x;
    background-position: center;
}

.map span {
    display: inline-block;
    background-position: bottom;
}

.undo {
    height: 20px;
}

.undo li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 63px;
}

.undo li:nth-last-child {
    margin-right: 0;
}

.undo li:not(:first-child) a {
    text-decoration: none;
    color: #777;
}

.undo li:first-child a {
    text-decoration: none;
    color: #fdcc05;
}

.undo li a:hover {
    color: #fdcc05;
}

.menu,
.center {
    margin-top: 50px;
}


/*------------------------Навигация.Меню--------------------*/

.menu {
    display: inline-block;
    width: 160px;
    height: 374px;
    margin-left: 40px;
    float: left;
}

.menu button {
    display: inline-block;
    height: 70px;
    width: 78px;
    border: 1px solid #eee;
    font-size: 10px;
    font-weight: bolder;
    color: #777;
    text-align: center;
}

.menu button:not(.one) {
    background-color: #fff;
}

button img {
    padding-bottom: 10px;
}

.one {
    background-color: #555;
}

.one span {
    color: #fff;
}

.menu button:nth-child(even) {
    float: right;
}

.menu button:not(.one):not(.two) {
    margin-top: 4px;
}

.menu button:hover {
    background-color: #555;
    color: #fff;
}


/*-------------------end---------------------------*/

.center {
    display: inline-block;
    height: 374px;
    width: 538px;
    background: url(img/gepard.png) no-repeat;
    background-position: center;
    border-right-color: #ddd;
    border-right-style: solid;
    border-right-width: 1px;
}


/*--------------------навигация центр-----------------*/

.nav ul {
    padding-left: 0;
    margin-left: 14px;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin-left: 2px;
}

.nav li a {
    border: 1px solid #eee;
    color: #555;
    text-decoration: none;
    padding: 10px 13px;
}

.nav li a:hover {
    background-color: #555;
    color: #fff;
}

.bok {
    position: absolute;
    top: 220px;
    right: 0;
    height: 890px;
    width: 235px;
    margin-top: -18px;
    margin-right: 10px;
}


/*----------------Карта контент---------------*/

.karta {
    height: 510px;
    width: 700px;
    margin-left: 40px;
}

.karta1,
.karta2,
.karta3,
.karta4 {
    display: inline-block;
    width: 340px;
    height: 240px;
    border: solid 1px #ddd;
}

.karta2,
.karta4 {
    float: right;
}

.karta3,
.karta4 {
    margin-top: 12px;
}

h2,
h3 {
    position: relative;
}

h2 {
    font-size: 14px;
    text-indent: 10px;
    color: #555;
    top: 100px;
}

h3 {
    font-size: 10px;
    text-indent: 10px;
    color: #888;
    top: 86px;
}

.karta1 {
    background: url(img/lion.png) no-repeat;
    background-position: center 10px;
}

.karta2 {
    background: url(img/gorila.png) no-repeat;
    background-position: center 10px;
}

.karta3 {
    background: url(img/pingvin.png) no-repeat;
    background-position: center 10px;
}

.karta4 {
    background: url(img/shake.png) no-repeat;
    background-position: center 10px;
}

.clear {
    clear: both;
}

.footer {
    height: 70px;
}