.main {
    height: 310px;
    width: 480px;
    border: 1px solid #777;
    background-image: url(img/confectionary.png);
}

.foto {
    float: left;
    margin-left: 15px;
    height: 190px;
    width: 132px;
 
}

img {
    margin-top: 14px;
    width: 132px;
}

h1,
h2,
span {
    text-transform: uppercase;
}

h1 {
    font-size: 12px;
    text-align: center;
}

h2 {
    font-size: 9px;
    text-align: left;
    margin-left: 34px;
    width: 100px;
}

.content span {
    font-size: 6px;
    padding-top: 2px;
}

.content strong,
p {
    font-size: 10px;
    font-family: Arial;
    padding-left: 5px;
}

span:nth-child(1),
span:nth-child(2),
span:nth-child(3),
span:nth-child(7),
span:nth-child(8),
span:nth-child(9),
span:nth-child(10),
span:nth-child(11),
span:nth-child(12) {
    display: inline-block;
    text-align: center;
}

span:nth-child(1),
span:nth-child(2),
span:nth-child(10) {
    padding-right: 26px;
}

span:nth-child(4),
span:nth-child(5),
span:nth-child(6),
span:nth-last-child(1) {
    display: block;
}

span:nth-child(8),
span:nth-child(10),
span:nth-child(12) {
    margin-left: 48px;
}

.content {
    float: right;
    height: 190px;
    width: 64%;
    margin-right: 15px;
}

.footer {
    clear: both;
    height: 88px;
    border-top: 1px solid #c3c3c3;
    background-color: #fff;
}

p {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
    letter-spacing: 2px;
}