 .menu {
    height: 600px;
    width: 100%;
    margin: 0;
    background-color: bisque;
  
}

.ice,
.coctail,
.muss,
.salat,
.sea,
.seledka {
    height: 270px;
    width: 440px;
    margin: 0;
    padding: 0;
    background-position: center;
   
}

.column_ice { 
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
      }
      
.column_ice .golos { 
  
    position: relative;
    bottom: -200px;
    
      }
      
.column_ice .golos span {
    color: red;
    font-weight: bolder;
    font-size: small;
    }

    
.ice {
    background: url('./img/ice.png') no-repeat;
    float: left;
}

.coctail {
    background: url('./img/coctail.png') no-repeat;
    float: left;
}

.muss {
    background: url('./img/muss.png') no-repeat;
    float: left;
}

.salat {
    background: url('./img/salat.png') no-repeat;
    clear: left;
    float: left;
}

.sea {
    background: url('./img/sea.png') no-repeat;
    float: left;
}

.seledka {
    background: url('./img/seledka.png') no-repeat;
    float: left;
}

@media screen and (min-width: 800px) {
    .ice, .coctail, .muss, .salat, .sea, .seledka {
        width: 32%;
        margin-top: 20px;
        margin-left: 10px;
                }
   
}

@media screen and (max-width: 800px) {
    .ice, .coctail, .muss, .salat, .sea, .seledka {
        width: 33%;
     
    }
}

@media screen and (max-width: 400px) {
    .ice, .coctail, .muss, .salat, .sea, .seledka {
        width: 400px;
       }

}




/*
.webim_button {
    href="http://teztourcom.webim.ru/webim/client.php?start-page=%7B%22title%22%3A%22%D0%9F%D0%BE%D0%B4%D0%B1%D0%BE%D1%80%20%D1%82%D1%83%D1%80%D0%B0%20-%20TEZ%20TOUR%22%2C%22url%22%3A%22http%3A%2F%2Fwww.tez-tour.com%2Fru%2Fminsk%2Fsearch.html%22%7D&amp;location=Minsk" 
    rel="webim" 
    width: 257px; 
    position: fixed; 
    top: 30%; 
    left: -161px; 
    display: block; 
    z-index: 9999; 
    margin: 0px; 
    padding: 0px; 
    cursor: pointer; 
    text-decoration: none; 
    border: none; 
    outline: none;
    img src="https://teztourcom.webim.ru/button.php?location=Minsk&amp;force-show=1&amp;force-status=online"
    border="0" 
    margin: 0px; 
    padding: 0px; 
    vertical-align: baseline; 
    border: 0px;
    }
    */