html, body {
  box-sizing: border-box;
  font-family: Geneva, Arial, Helvetica, sans-serif;  
  margin: 0;
  padding: 0;
}
.content {
  background-image: radial-gradient(at right bottom, #fff, #ffce02);
  background-image:  -o-radial-gradient(at right bottom, #fff, #ffce02);
  background-image: -webkit-radial-gradient(at right bottom, #fff, #ffce02);

  max-width:1920px;
}

.main { 
  border: .5px solid transparent;
  background: url('img/maket_main.png') no-repeat;
  height: 1080px;
  width: 1920px;
}

h1 {
  font-size: 4.5em;
  padding-left: 30px;
  padding-top: 150px;
  color: #48493b;
}

strong {
  color:#f05131;
}


.main > a  {
 background-color: #0d6912;
 border-radius:50px;
 
 box-shadow: 0 0 15px rgba(0,0,0,0.5);
 -webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);
 -moz-box-shadow:0 0 15px rgba(0,0,0,0.5);

 color:#feea9a;
 font-size: 2em;
 margin-left: 100px;
 padding: 25px 50px;
 position:relative;
 text-decoration: none;
 top: 50px;
}

h1, .main > a {
 text-shadow: 4px 2px 4px rgba(0,0,0,0.8);
 -webkit-text-shadow:4px 2px 4px rgba(0,0,0,0.8);
 -moz-text-shadow:4px 2px 4px rgba(0,0,0,0.8);
}

.main p {
  color:#48493b;
  font-size: 2em;
  font-weight: bold;
  margin-left: 70px;
  position: relative;
  top:200px; 

}

.footer {
  background: #806806;
  height:220px;
  max-width: 100%;
  opacity: .8;
  position: relative;
  top:200px;  
}


.gridcontainer {
  font-size: 1em;
  line-height: 20px;
  text-align: center;
}
/* -- Circular Work -- */


.grid_3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  margin: 10px;
}

.fmcircle_out {
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  margin-left: 10px;
  opacity: 0.7; 
  

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
 }

.fmcircle_out:hover {
  opacity: 1; 

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;

}

.fmcircle_out:hover .fmcircle_in img {
  margin: 30px 25px 25px 25px;
  width: 120px;
  height: 120px;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}



.fmcircle_in {
  width: 170px;
  height: 170px;
  margin: 15px;
  display: inline-block;
  overflow: hidden;
  border: 5px solid #ffce02;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
}

.fmcircle_in img {
  border: none;
  margin: 40px;
  width: 90px;
  height: 90px;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.fmcircle_in span {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  width: 160px;
  background: #fff;
  color: #000;
  padding: 5px;
  margin: 70px 0 0 0;
  height: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  float: left;
  position: absolute;
  opacity: 0;
  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_out:hover .fmcircle_in span {
  opacity: 1;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*** Base64 Patterns ***/
