.common a {
    height: 30px;
    color: green;
    border-right: 5px solid red;
    width: 150px;
    float: left;
    padding-left: 20px;
    font-size: large;
}


.common a:hover {
    color: red;
}


    
li {
    list-style-type: none;
    }
    
 
    
.list1 ul li:first-child {
  display: block;
}

.list1 ul li:not(:first-child) {
  display: none;
}

.list1 ul:hover > li {
  display: block;
}
 


