

.undo {
    width: 800px;
    height: 600px;
    background: linear-gradient( #f80, #ff0, #f80);
}

.black {
    width: 100%;
    height: 100%;
    background: linear-gradient( 135deg, rgba(0, 0, 0, 0) 50%, #3d405f 40%);
}

.calc {
    position: absolute;
    left: 26%;
    top: 20%;
    height: 437px;
    width: 264px;
    background-color: #292c3f;
}

.monic {
    position: absolute;
    left: 12%;
    top: 5%;
    height: 95px;
    width: 204px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.monic p,
.cifra span,
.buttons button {
    font-family: Arial;
}

.monic p {
    font-size: 60px;
    text-align: right;
    margin: 0;
    color: #fff;
}

.cifra {
    height: 25px;
    width: 204px;
    position: absolute;
    bottom: 0;
}

.cifra span {
    font-size: 20px;
    color: #fdd653;
}

.buttons {
    position: absolute;
    left: 12%;
    height: 256px;
    width: 204px;
    margin-top: 150px;
    background-color: white;
    background-color: #292c3f;
}

.buttons button {
    height: 45px;
    width: 45px;
    margin-top: 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}

.buttons button:nth-child(1),
button:nth-child(5),
button:nth-child(9),
button:nth-child(13),
button:nth-child(17) {
    margin-left: 4px;
}

.buttons button:nth-child(1),
button:nth-child(2) {
    background-color: #fdd653;
}
